
.app{
    text-align: center;
    border: 1px solid black;
}
.main-header{
    background: rgb(23 35 88);
    color: white;
    padding:43px;
    border-bottom: 2px solid red;
}
.main-text{
    font-size: 34px;
    font-weight: 300;
}
.search-main{
    background: #f5f4f4;
    padding: 20px;
}
.table-main{
    margin-top: 33px;
}
.profile-pic{
    width: 60px;
}